@font-face {
  font-family: "HartwellRegular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("HartwellRegular"), url(/fonts/HartwellRegular.woff) format("woff");
}

@font-face {
  font-family: "HartwellRegular";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("HartwellRegular"), url(/fonts/HartwellHeavy.woff) format("woff");
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: HartwellRegular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
