.header {
  width: 80%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 2rem;
  img {
    object-fit: contain;
    display: block;
  }
}
